/* Colors */
.root{
    /* Header */
    --tob-yelloW: #daa520;
    --tob-light-blue: #add8e6;

    /* Main */
    --tob-dark-pink: #ee82ee;
    --tob-blue: #00008b;
    --tob-light-pink: #ffc0cb;
    --tob-turkoise: #1e90ff;
    --tob-light-grey: #d3d3d3;
    --tob-green: #228b22;

    /* Footer */
    --tob-pink: #f08080;
    --tob-sky: #20b2aa;
    --tob-black: #23272a;
    --tob-marine: #7fffd4;

}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.h-debug{
    background-color: #add8e6;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h-container1{
    display: flex;
    width: 80%;
    margin: auto;
    line-height: 30px;
}

.h-container1-debug{
    background-color: #daa520;;
}


/* Logo Header */
.logo-container{
    display: flex;
    width: 20%;
    border: 3px dashed;
    align-items: center;
}

.logo{
    margin-left: 2rem;
}

/* Link Header */
.link-container{
    display: flex;
    width: 60%;
    border: 3px dashed;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.link{
    margin: 3px;
}

/* Login Header */
.login-container{
    display: flex;
    width: 20%;
    border: 3px dashed;
    justify-content: flex-end;
    align-items: center;
}

.login{
    margin-right: 2rem;
}

/* Main - Sezione 1 */
.main-1{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-1-debug{
    background-color: #00008b;
    height: 500px;
}

.main-1-1{
    width: 60%;
}

.main-1-1-debug{
    background-color: #ee82ee;
    border: 3px dashed;
    height: 400px;
}

/* Main - Sezione 2 */

.main-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-2-debug{
    background-color: white;
    height: 600px;
}

.main-2-1{
    width: 40%;
}

.main-2-1-debug{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

.main-2-2{
    width: 30%;
}

.main-2-2-debug{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}

/* Main - Sezione 3 */

.main-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-3-debug{
    background-color: #d3d3d3;
    height: 600px;
}

.main-3-1{
    width: 30%;
}

.main-3-1-debug{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}

.main-3-2-debug{
    width: 40%;
}

.main-3-2-debug{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

/* Main - Sezione 4 */

.main-4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-4-debug{
    background-color: white;
    height: 600px;
}

.main-4-1{
    width: 40%;
}

.main-4-1-debug{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

.main-4-2{
    width: 30%;
}

.main-4-2-debug{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}

/* Main - Sezione 5 */

.main-5{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-5-debug{
    background-color: #d3d3d3;
    height: 1000px;
}

.main-5-1{
    width: 60%;
}

.main-5-1-debug{
    background-color: #228b22;
    border: 3px dashed;
    height: 900px;
}

/* Footer */

.f-debug{
    background-color: #23272a;
    height: 902px;
}

/* Footer - Sezione 1 */

.footer-container-1{
    display: flex;
    justify-content: center;
    padding-bottom:40px;
    border-bottom: 3px solid lightgray;
}

.footer-1-1{
    width: 20%;
}

.footer-1-1-debug{
    background-color: #f08080;
    border: 3px dashed;
    height: 750px;
    margin-top: 10px;
}

.footer-1-2{
    width: 10%;
}

.footer-1-2-debug{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

.footer-1-3{
    width: 10%;
}

.footer-1-3-debug{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

.footer-1-4{
    width: 10%;
}

.footer-1-4-debug{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

.footer-1-5{
    width: 10%;
}

.footer-1-5-debug{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

/* Footer - Sezione 2 */

.footer-container-2{
    display: flex;
    background-color: #7fffd4;
    width: 60%;
    line-height: 40px;
    margin: auto;
    height: 70px;
    gap: 750px;
    margin-top: 30px;
}
/* Footer - Logo */
.footer-logo-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-logo-container-debug{
    background-color: #ffc0cb;
    border: 3px dashed;
}

.footer-logo{
    font-size: 25px;
    padding: 5px;
}

/* Footer - Bottone */

.footer-bottone-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-bottone-container-debug{
    background-color: #ffc0cb;
    border: 3px dashed;
}

.footer-bottone{
    font-size: 25px;
    padding: 5px;
}


