/* Colors */
.root{
    /* Header */
    --tob-yelloW: #daa520;
    --tob-light-blue: #add8e6;

    /* Main */
    --tob-dark-pink: #ee82ee;
    --tob-blue: #00008b;
    --tob-light-pink: #ffc0cb;
    --tob-turkoise: #1e90ff;
    --tob-light-grey: #d3d3d3;
    --tob-green: #228b22;

    /* Footer */
    --tob-pink: #f08080;
    --tob-sky: #20b2aa;
    --tob-black: #23272a;
    --tob-marine: #7fffd4;

}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.h-container1{
    display: flex;
    width: 80%;
    margin: auto;
    line-height: 30px;
}



.logo-container{
    display: flex;
    width: 20%;
    border: 3px dashed;
    align-items: center;
}

.logo{
    margin-left: 2rem;
}

.link-container{
    display: flex;
    width: 60%;
    border: 3px dashed;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.link{
    margin: 3px;
}

.login-container{
    display: flex;
    width: 20%;
    border: 3px dashed;
    justify-content: flex-end;
    align-items: center;
}

.login{
    margin-right: 2rem;
}

.h-debug{
    background-color: #add8e6;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h-container1-debug{
    background-color: #daa520;;
}

.main-1-debug{
    background-color: #00008b;
    height: 500px;
}

.main-1{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-1-1{
    width: 60%;
}

.main-1-1-debug{
    background-color: #ee82ee;
    border: 3px dashed;
    height: 400px;
}

.main-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-2-debug{
    background-color: white;
    height: 600px;
}

.main-2-1{
    width: 40%;
}

.main-2-1-debug{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

.main-2-2-debug{
    width: 30%;
}

.main-2-2-debug{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}